{% extends '_shared/_layout.twig' %}

{% block main %}

	{% set houses = craft.entries.section('house').relatedTo(entry).all() %}
	<!-- Homes for you -->
	<div class="container c-section ">
		<h2 class="c-section__title">{{entry.title}}</h2>
		<p class="c-section__subtitle">{{entry.subtext}}</p>

		<div
			class="row g-4 justify-content-center c-section__content">
			<!-- category card -->
			<div class="col-12 col-sm-6 col-lg-4 c-categories__card">
				<div class="c-categories__info">
					<h3 class="c-categories__title">{{entry.title}}</h3>
					<p class="">{{houses|length}}
						properties</p>
				</div>
				<div class="c-categories__imgcontainer">
					<img src="{{entry.cover.one().url()}}" alt="{{entry.title}}" class="c-categories__img c-categories__img--page">
				</div>
			</div>
			{% for house in houses %}
				<!-- immo card -->
				<div class="col-12 col-sm-6 col-lg-4 ">
					<a href="{{ url(house.uri) }}" class="c-immo-card">
						<div class="c-immo-card__imgcontainer">
							<img src={{house.cover.one().url()}} alt="" class="c-immo-card__img">
							<div class="c-immo-card__tag {% switch house.state %}{% case 'sale' %}c-immo-card__tag--sale{% case 'rent' %}c-immo-card__tag--rent{% default %}{% endswitch %}">
								<p>For
									{{house.state}}</p>
							</div>

						</div>
						<div class="c-immo-card__infocontainer">
							<div class="c-immo-card__heading">
								<h3 class="c-immo-card__title">{{house.title}}</h3>
								<p class="c-immo-card__price">{{(house.price.amount / 100)|currency('EUR')}}</p>
							</div>
							<div class="c-immo-card__location">
								<img src="{{url('img/icons/location.svg')}}" alt="">
								{% set city = craft.entries.section('locations').relatedTo(house).one() %}
								<p>
									{{house.location}},
									{{city.title}}
								</p>

							</div>

							<div class="c-immo-card__details">
								<div class="c-immo-card__icons">
									<img src="{{url('img/icons/bed.svg')}}" alt="">
									<p>
										{{house.details[0].bedrooms}}
										beds
									</p>
								</div>
								<div class="c-immo-card__icons">
									<img src="{{url('img/icons/bath.svg')}}" alt="">
									<p>{{house.details[0].bathrooms}}
										baths
									</p>
								</div>
								<div class="c-immo-card__icons">
									<img src="{{url('img/icons/sqf.svg')}}" alt="">
									<p>{{house.details[0].size}}
										m²
									</p>
								</div>
							</div>

						</div>
					</a>
				</div>
			{% endfor %}
		</div>

	</div>

	<!-- locations -->
	<div class="container c-section">
		<h2 class="c-section__title">Locations</h2>
		<p class="c-section__subtitle">Already found your ideal location?</p>

		<div class="row justify-content-center c-section__content c-locations text-center">
			<div class="col-12 col-sm-3 col-lg-2">
				<ul class="c-locations__list">
					<li class=" c-locations__list-item pb-2">
						<a class="c-locations__link " href="#">
							Gent
						</a>
					</li>
					<li class=" c-locations__list-item pb-2">

						<a class="c-locations__link " href="#">
							Kortrijk
						</a>
					</li>
					<li class="c-locations__list-item pb-2">
						<a class="c-locations__link " href="#">
							Brussel
						</a>
					</li>
					<li class="c-locations__list-item pb-2">

						<a class="c-locations__link " href="#">
							Lokeren
						</a>
					</li>
				</ul>
			</div>
			<div class="col-12 col-sm-3 col-lg-2">
				<ul class="c-locations__list">
					<li class="c-locations__list-item pb-2">
						<a class="c-locations__link " href="#">
							Antwerpen
						</a>
					</li>
					<li class="c-locations__list-item pb-2">

						<a class="c-locations__link " href="#">
							Gent
						</a>
					</li>
					<li class="c-locations__list-item pb-2">
						<a class="c-locations__link " href="#">
							Gent
						</a>
					</li>
					<li class="c-locations__list-item pb-2">

						<a class="c-locations__link " href="#">
							Gent
						</a>
					</li>
				</ul>
			</div>
			<div class="u-hidden col-sm-3 col-lg-2">
				<ul class="c-locations__list">
					<li class="c-locations__list-item pb-2">
						<a class="c-locations__link " href="#">
							Gent
						</a>
					</li>
					<li class="c-locations__list-item pb-2">

						<a class="c-locations__link " href="#">
							Gent
						</a>
					</li>
					<li class="c-locations__list-item pb-2">
						<a class="c-locations__link " href="#">
							Gent
						</a>
					</li>
					<li class="c-locations__list-item pb-2">

						<a class="c-locations__link " href="#">
							Gent
						</a>
					</li>
				</ul>
			</div>
			<div class="u-hidden col-sm-3 col-lg-2">
				<ul class="c-locations__list">
					<li class="c-locations__list-item pb-2">
						<a class="c-locations__link " href="#">
							Gent
						</a>
					</li>
					<li class="c-locations__list-item pb-2">

						<a class="c-locations__link " href="#">
							Gent
						</a>
					</li>
					<li class="c-locations__list-item pb-2">
						<a class="c-locations__link " href="#">
							Gent
						</a>
					</li>
					<li class="c-locations__list-item pb-2">

						<a class="c-locations__link " href="#">
							Gent
						</a>
					</li>
				</ul>
			</div>

		</div>

	</div>


{% endblock %}
