{% extends '_shared/_layout.twig' %}

{% block main %}

	<!-- Categories section -->
	<div class="container-fluid c-section ">
		<div class="c-categories">
			{% set allCategories = craft.entries.section('categories').level(1).one() %}
			<h2 class="c-section__title">{{allCategories.title}}</h2>
			<p class="c-section__subtitle">{{allCategories.subtext}}</p>
			
			{% set categories = allCategories.children.all() %}
			<!-- categories -->
			<div class="row g-3 justify-content-center c-section__content">
				{% for category in categories %}
					<!-- category card  -->
					<a href="{{url(category.uri)}}" class="c-categories__card col-12 col-sm-3 col-lg-2">
						<div class="c-categories__info">
							<h3 class="c-categories__title">{{category.title}}</h3>
							<p class="">2 properties</p>
						</div>
						<div class="c-categories__imgcontainer">
							<img src="{{ category.cover.one().url() }}" alt="{{ category.title }}" class="c-categories__img">
						</div>
					</a>
				{% endfor %}
			</div>
		</div>

	</div>


{% endblock %}
