{% extends '_shared/_layout.twig' %}

{% block main %}

	<div class="container col-12 col-sm-10 col-md-10">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb my-sm-4">
				<li class="breadcrumb-item">
					<a href="../index.twig">Home</a>
				</li>
				<li class="breadcrumb-item">
					<a href="#">apartments</a>
				</li>
				<li class="breadcrumb-item active" aria-current="page">{{entry.title}}
				</li>
			</ol>
		</nav>
	</div>

	<!-- details -->
	<div class="c-section container">
		<div class="row">
			<div class="col-12 col-sm-12 col-md-7 c-detail__carousel">
				<div id="carouselExampleIndicators" class="carousel slide">
					<div class="carousel-inner">
						{% for image in entry.carousel %}
							<div class="carousel-item {% if loop.first %}active{% endif %}">
								<img src="{{ image.url() }}" class="d-block w-100" alt="{{ entry.title }}">
							</div>
						{% endfor %}
					</div>
					<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Previous</span>
					</button>
					<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Next</span>
					</button>
				</div>
			</div>
			<div class="col-12 col-sm-12 col-md-5 c-detail__info">

				<h2 class="text-start">{{entry.title}}</h2>
				<p class="c-detail__price">
					{{(entry.price.amount / 100)|currency('EUR')}}</p>

				<div class="d-flex flex-row gap-2">

					{% set category = craft.entries.section('categories').relatedTo(entry).one() %}
					<p>
						<a class="c-detail__tag" href="{{ url(category.uri) }}">{{category.title}}</a>
					</p>
					<p>
						<a class="c-detail__tag {% switch entry.state %}{% case 'sale' %}c-detail__tag--sale{% case 'rent' %}c-detail__tag--rent{% default %}{% endswitch %}" href="#">For
							{{entry.state}}</a>
					</p>
				</div>

				<div class="c-detail__location">
					{% set city = craft.entries.section('locations').relatedTo(entry).one() %}
					<img src="{{url('img/icons/location.svg')}}" alt="">
					<p>
						{{entry.location}},
						<a class="u-underline" href="{{ url(city.uri) }}">
							{{ city.title }}</a>
					</p>

				</div>

				<div class="c-detail__rooms">
					<div class="c-detail__icons">
						<img src="{{url('img/icons/bed.svg')}}" alt="">
						<p>{{entry.details[0].bedrooms}}
							beds
						</p>
					</div>
					<div class="c-detail__icons">
						<img src="{{url('img/icons/bath.svg')}}" alt="">
						<p>{{entry.details[0].bathrooms}}
							baths
						</p>
					</div>
					<div class="c-detail__icons">
						<img src="{{url('img/icons/sqf.svg')}}" alt="">
						<p>{{entry.details[0].size}}m²
						</p>
					</div>
				</div>
				<div class="row u-background-grey c-detail__realtor">
					<div class="col-9 p-3 p-sm-4 c-detail__realtor-info">
						<p>Your expert</p>
						<h3>Brent Heirman</h3>
						<p>
							<a href="mailto:brent.heirman@justhome.be">brent.heirman@justhome.be</a>
						</p>
					</div>
					<img class="col-3 c-detail__realtor-img" src="{{url('img/RealEstateAgent-two.jpeg')}}" alt="">
				</div>
			</div>
		</div>
	</div>

	<div class="c-section container">
		<div class="row">
			<div class="col-12 col-sm-4 col-md-4 u-background-grey p-4 c-detail__list">
				<h2 class="text-start">Details</h2>

				<ul>
					{% for strength in entry.strengths %}
						<li class="c-detail__list-item">
							{{strength.listItem}}
						</li>
					{% endfor %}
				</ul>
			</div>
			<div class="col-12 col-sm-8 col-md-8 p-4 c-detail__about">
				<h2 class="text-start">About</h2>
				{{entry.bodyText}}

			</div>
		</div>

	</div>

	<!-- Homes for you -->
	<div class="container c-section c-section--alternate">
		<h2 class="c-section__title">Homes For You</h2>
		<p class="c-section__subtitle">Based on your interests.</p>


		<div class="row g-3 justify-content-center c-section__content">
			{% set houses = craft.entries.section('house').relatedTo(category).limit(3).id("not #{entry.id}" ).all() %}
			{% for house in houses %}
				<!-- immo card -->
				<div class="col-12 col-sm-6 col-lg-4 ">
					<a href="{{ url(house.uri) }}" class="c-immo-card">
						<div class="c-immo-card__imgcontainer">
							<img src={{house.cover.one().url()}} alt="" class="c-immo-card__img">
							<div class="c-immo-card__tag {% switch house.state %}{% case 'sale' %}c-immo-card__tag--sale{% case 'rent' %}c-immo-card__tag--rent{% default %}{% endswitch %}">
								<p>For
									{{house.state}}</p>
							</div>

						</div>
						<div class="c-immo-card__infocontainer">
							<div class="c-immo-card__heading">
								<h3 class="c-immo-card__title">{{house.title}}</h3>
								<p class="c-immo-card__price">{{(house.price.amount / 100)|currency('EUR')}}</p>
							</div>
							<div class="c-immo-card__location">
								<img src="{{url('img/icons/location.svg')}}" alt="">
								{% set city = craft.entries.section('locations').relatedTo(house).one() %}
								<p>
									{{house.location}},
									{{city.title}}
								</p>

							</div>

							<div class="c-immo-card__details">
								<div class="c-immo-card__icons">
									<img src="{{url('img/icons/bed.svg')}}" alt="">
									<p>
										{{house.details[0].bedrooms}}
										beds
									</p>
								</div>
								<div class="c-immo-card__icons">
									<img src="{{url('img/icons/bath.svg')}}" alt="">
									<p>{{house.details[0].bathrooms}}
										baths
									</p>
								</div>
								<div class="c-immo-card__icons">
									<img src="{{url('img/icons/sqf.svg')}}" alt="">
									<p>{{house.details[0].size}}
										m²
									</p>
								</div>
							</div>

						</div>
					</a>
				</div>

			{% endfor %}

		</div>

	</div>

{% endblock %}
