{% extends '_shared/_layout.twig' %}

{% block main %}
	<!-- houses overview -->
	<div
		class="container c-section ">
		<!-- todo: laad de titel en subtext in via de entry -->
		<h2 class="c-section__title">All Houses</h2>
		<p class="c-section__subtitle">Our broad collection of houses!</p>

		<div class="row g-4 justify-content-center c-section__content">


			{% set houses = craft.entries.section('house').all() %}
			{% for house in houses %}
				<!-- immo card -->
				<div class="col-12 col-sm-6 col-lg-4 ">
					<a href="{{ url(house.uri) }}" class="c-immo-card">
						<div class="c-immo-card__imgcontainer">
							<img src={{house.cover.one().url()}} alt="" class="c-immo-card__img">
							<div class="c-immo-card__tag {% switch house.state %}{% case 'sale' %}c-immo-card__tag--sale{% case 'rent' %}c-immo-card__tag--rent{% default %}{% endswitch %}">
								<p>For
									{{house.state}}</p>
							</div>

						</div>
						<div class="c-immo-card__infocontainer">
							<div class="c-immo-card__heading">
								<h3 class="c-immo-card__title">{{house.title}}</h3>
								<p class="c-immo-card__price">{{(house.price.amount / 100)|currency('EUR')}}</p>
							</div>
							<div class="c-immo-card__location">
								<img src="{{url('img/icons/location.svg')}}" alt="">
								{% set city = craft.entries.section('locations').relatedTo(house).one() %}
								<p>
									{{house.location}},
									{{city.title}}
								</p>

							</div>

							<div class="c-immo-card__details">
								<div class="c-immo-card__icons">
									<img src="{{url('img/icons/bed.svg')}}" alt="">
									<p>
										{{house.details[0].bedrooms}}
										beds
									</p>
								</div>
								<div class="c-immo-card__icons">
									<img src="{{url('img/icons/bath.svg')}}" alt="">
									<p>{{house.details[0].bathrooms}}
										baths
									</p>
								</div>
								<div class="c-immo-card__icons">
									<img src="{{url('img/icons/sqf.svg')}}" alt="">
									<p>{{house.details[0].size}}
										m²
									</p>
								</div>
							</div>

						</div>
					</a>
				</div>

			{% endfor %}
		</div>

	</div>


{% endblock %}
